.DS_Store
code/djangoApp/djangoPuttPutt/__pycache__/
code/djangoApp/backend/migrations/__pycache__/
code/djangoApp/db.sqlite3
code/djangoApp/.vs/ProjectSettings.json
code/djangoApp/.vs/VSWorkspaceState.json
code/djangoApp/.vs/djangoApp/v16/.suo
code/djangoApp/.vs/slnx.sqlite
code/djangoApp/backend/__pycache__/
code/djangoApp/backend/migrations/
code/djangoApp/db.sqlite3
