.refund-card{
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}
.refund-card-header{
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: large;
}
.refund-card-body{
    margin-left: 5px;
}
.card-buttons{
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-buttons button:hover{
    cursor: pointer;
    filter: brightness(75%);
}
.complete-button {
    color: #fff;
    margin: 10px;
    background-color: #3f51b5;
    border-radius: 5px;
    border: none;
    font-size: normal;
    padding: 5px
}

.delete-button{
    color: #fff;
    margin: 10px;
    background-color: #bd1717;
    border-radius: 5px;
    border: none;
    font-size: normal;
    padding: 5px
}