.formbox{
    margin-top: 100px;
    margin-left: 27%;
    margin-bottom: 100px;
    width: 500px;
    padding: 20px 50px;
    border: 1px solid lightblue;
    border-radius: 15px;
    align-items: center;
    /* display: inline-flex; */
    float: left;
}
#roleSelect{
    margin: 20px;
}
.itembox{
    margin: 20px;
    align-self: center;
    align-content: center;
    text-align: center;
}
#buttonBox{
    display: flex;
}
#deleteButt{
   margin-left: 20px; 
   color: whitesmoke;
   background-color:crimson
   /* margin-: 20px;  */
}
/* #editButt { */
    /* background-color: green;
    color: whitesmoke;
} */
/* .selectBox{
    margin-bottom: 300px;
} */
/* .h2{
    margin-left: auto;
} */