.cardContainer {
    /* margin: 5% 30% 5% 30%; */
    /* margin-top: 5%; */
    /* margin-left: ; */
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto; */
    /* display: inline-flex;
    width: auto; */
    
    /* width: 50%; */
    /* align-items: center;
    flex-wrap: wrap; */
    /* max-width: auto; */
}
.tourneyCard{
    /* margin: 10px;
    width: 10%;
    height: 10%;*/
    text-align: center;
    border: 1px black;
    border-radius: 20px;
    width: 100%;
    margin-top: 3%;
    height: auto;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
